
.navbar {
  width: '100px';
  padding: '12px';
  margin: '0 6px 6px';
  background: '#B6B6B4';
  textDecoration: 'none';
  color: 'white';
  borderBottomLeftRadius: '10px';
  borderBottomRightRadius: '10px';
}

.nav-bar {
  border-bottom: '2px solid black';
  padding-bottom: '10px';
  margin-bottom: '50px';
}
