@import "utilities/master";
.playerShow-container {
  .background-image {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 49px;
    height: 94vh;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}
.player-wrapper {
  margin: 1.5%;
  display: inline-block;
  background: whitesmoke;
  width: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.view-player {
  display: contents;
}
