.tr-style {
  padding: 32px;
  float: left;

  height: 400px;
  width: 50%;
  margin: auto;

}

th{
  border-bottom: 1pt solid black;
}

td{
  height: 50px;
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  width: 20%
}

th{
  text-align: right;
  padding: 15px;
  width: 10%
}
