.team-standings {
  .background-image {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 49px;
    height: 94vh;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}
.tr-style {
  padding: 32px;
  font-size: 3vw;
  float: left;
  margin-left: 15%;
  th {
    width: 16vw;
    text-decoration: underline;
  }
  td {
    height: 75px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 16vw;
  }
  tr:nth-child(even) {
    background: #ccc;
  }
  tr:nth-child(odd) {
    background: #fff;
  }
}
