.tr-style {
  padding: 32px;
  font-size: 3vw;
  float: left;
  margin-left: 15%;
  th {
    width: 16vw;
    text-decoration: underline;
  }
  td {
    height: 75px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 16vw;
  }
  tr:nth-child(even) {
    background: #ccc;
  }
  tr:nth-child(odd) {
    background: #fff;
  }
}
