@import "utilities/master";

.TeamsContainer {
  padding: 16px;
}

.TeamCard {
  float: left;
  margin: 1.5%;
  background: whitesmoke;
  width: 30%;
  height: 490px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media only screen and (max-width: 768px) {
    width: 45%;
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .TeamImage {
    max-width: 70%;
    max-height: 50%;
    position: relative;
    width: 30vw;
    height: 30vh;
    object-fit: contain;
  }
}

.card-details {
  margin-top: 8px;
}

.link-style {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: $background-color;
  font-weight: bold;
}

.winloss-wrapper {
  display: inline-block;
  button {
    background-color: $background-color;
    color: $text-color;
    padding: 10px 8px;
    font-size: $button-font-size;
    margin-right: 10px;
    width: 65%;
  }
}
