.TeamsContainer {
  padding: 16px;
}

.TeamCard {
  float: left;
  margin: 1.5%;
  background: whitesmoke;
  width: 30%;
  height: 442px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  .TeamCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.TeamImage {
  max-width: 70%;
  max-height: 50%;
  max-height: 50%;
  position: relative;
  width: 30vw;
  height: 30vh;
  object-fit: contain;
}

.image-wrapper {
  .TeamImage {
    max-width: 70%;
    max-height: 50%;
    max-height: 50%;
    position: relative;
    width: 30vw;
    height: 30vh;
    object-fit: contain;
  }
}

.card-details {
  margin-top: 8px;
  a:hover {
    background-color: #d1d0ce;
  }
}

.link-style {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.winloss-wrapper {
  display: grid;
  button {
    background-color: #333;
    color: white;
    padding: 10px 14px;
    font-size: 14px;
  }
}
